<form class="ui stacked segment form" action="/dashboard/addbookmarklist" method="post" enctype="multipart/form-data">
<section class="ui segment">
<div class="ui small dividing header"> Bookmark list Upload </div>
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title">
    </div>
  <button class="ui mini blue submit button"> Upload </button>
  </section>
</form>
