<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
<h3 class="ui icon header">
  <div class="content">
    <header class="ui header item"><a href="/dashboard"><i class="bookmark icon"> Gomark</i></a></header>
</h3>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="share" class="item" href="/share"> Share</a>
    <a id="stats" class="item" href="/stats"> Statistics</a>
    <a id="picture" class="item" href="/picture"> Pictures</a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
  </div>
</div>

<script>
  $("#{{id}}").addClass("active item");
</script>



