<div class="ui segment">
  <div class="ui secondary pointing menu">
<h3 class="ui icon header">
  <div class="content">
    <header class="ui header item"><a href="/"><i class="bookmark icon"> Welcome to Gomark</i></a></header>
</h3>
  <div class="right menu">
    <a id="signup" class="red item" href="/signup"><i class="big add user icon"></i> Sign Up</a>
    <a id="login" class="blue item" href="/login"><i class="big sign in icon"></i> Login</a>
  </div>
  </div>
</div>
<script>
  $("#{{id}}").addClass("active item");
</script>


