body
{
  background-image: url("https://cdn.glitch.com/9472c3c1-7758-4ab2-aa7e-7e55947f3675%2Fgiphy%20(2).gif?1491401475367");
  background-size:cover;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
}