{{> menu id="about"}}
<section class="ui center aligned middle aligned two column grid segment">
  <div class="ui raised very padded text container segment">
    <h3>
      A Little Bookmark Save
    </h3>
    <div class="ui four column doubling stackable grid container">
      <div class="column">
        <p>Author:</p>
        <p>Dylan Morrissey
        <p>
      </div>
      <div class="column">
        <p>Email Address:</p>
        <p>gomark@gomark.com
        <p>
      </div>
      <div class="column">
        <p>Phone Number:</p>
        <p>908-621-9567</p>
      </div>
      <div class="column">
        <p>Student Number:</p>
        <p>20075666</p>
      </div>
    </div>
    <h2 class="ui header">Address</h2>
    <p>Waterford Institute of Technology</p>
    <p>Cork Road</p>
    <p>Waterford</p>
    <img src="https://cdn.gomix.com/55823dba-7111-42e3-b933-112903384622%2Flocation%20(2).PNG" width="550" height="550" >
  </div>
</section>
<section class="ui raised two column grid segment">
  <section class="column">
    {{> addmessage }}
  </section>
  <section class="column">
    {{> listmessages }}
  </section>
</section>