{{> welcomemenu }}
<section class="ui center aligned middle aligned segment">
  <img src="https://cdn.glitch.com/9472c3c1-7758-4ab2-aa7e-7e55947f3675%2Fgomark-logo.png?1490346772221" >
  <p><a id="signup" class="item" href="/signup"> Signup  </a> or <a id="login" class="item" href="/login">  Login   </a></p>
  <p>{{description}}</p>
</section>